.main-section {
    min-height: calc(100vh - 64px); /* Ajusta según la altura del header si es necesario */
    background-image: url('/public/BackgroundHeader.png');
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column; /* Flex en columna */
    justify-content: center; /* Centra los elementos verticalmente */
    align-items: flex-start; /* Alinea los elementos a la izquierda */
    text-align: left;
    padding: 20px;
    color: black; /* Color del texto negro */
    padding-left: 140px;
    padding-right: 140px;
  }
  
  button {
    background-color: #ffffff; /* Fondo blanco */
    color: #000000; /* Texto negro */
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1); /* Leve sombra */
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 20px;
  }
  
  button:hover {
    background-color: #f0f0f0; /* Fondo ligeramente más oscuro al pasar el ratón */
  }
  h1, h2, h3, p {
    color: black; /* Color del texto negro */
  }